/* AUTH PAGE */

.auth-container {
    min-height: 80vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 40px 20px;
}

.auth-box {
    width: 100%;
    max-width: 450px;

    background: rgba(20, 20, 20, 0.95);

    border: 1px solid #2b2b2b;

    border-radius: 20px;

    padding: 40px;

    box-shadow:
            0 0 25px rgba(0,0,0,0.5);

    text-align: center;
}

.auth-box h2 {
    font-size: 36px;

    margin-bottom: 15px;

    color: #ffffff;
}

.auth-box p {
    color: #bdbdbd;

    margin-bottom: 25px;

    line-height: 1.6;
}

.auth-box form {
    display: flex;
    flex-direction: column;

    gap: 18px;
}

.auth-box input {
    width: 100%;

    padding: 15px;

    border: none;

    border-radius: 12px;

    background: #1f1f1f;

    color: white;

    font-size: 16px;

    outline: none;

    transition: 0.3s;
}

.auth-box input:focus {
    border: 1px solid #00bfff;

    box-shadow:
            0 0 10px rgba(0,191,255,0.5);
}

.auth-box button {
    padding: 15px;

    border: none;

    border-radius: 12px;

    background: #00bfff;

    color: white;

    font-size: 16px;

    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;
}

.auth-box button:hover {
    transform: translateY(-2px);

    background: #0099cc;
}

.auth-switch {
    margin-top: 25px;
}

.auth-switch a {
    color: #00bfff;

    text-decoration: none;

    font-weight: bold;
}

.auth-switch a:hover {
    text-decoration: underline;
}

#login-message,
#register-message {
    margin-top: 20px;

    font-size: 15px;

    color: #ff4d4d;
}